@using Microsoft.Extensions.Localization
@using Pharos.Identity.Infra
@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = $"/Areas/Identity/Pages/_Layout.cshtml";
    }
}
@inject IStringLocalizer<SharedResource> Localizer;


<div class="m-lg-0">

    <div>
        <div class="row align-items-center">
            <div style="width: 400px; display: flex; flex-direction: column; align-items: center; justify-content: center">
                <div style="margin-bottom: 20px; text-align: center">
                    <h1>@Localizer["ManageAccount"]</h1>
                </div>
                
                <partial name="_ManageNav"/>
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
