@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html class="w-100 h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pharos</title>
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="relative w-[100vw] min-h-[100vh]">

@{
    var path = ViewContext.HttpContext.Request.Path.Value ?? "";
    var isManagePage = path.ToLower().Contains("manage");
}

@if (isManagePage)
{
    <div class="container mx-auto px-4 md:px-6 lg:px-8 sticky top-0 z-50">
        <div class="flex min-h-16 items-center justify-between mx-auto border-b bg-background/95 backdrop-blur-[backdrop-filter]:bg-background/60 w-full">
            <a class="flex items-center gap-2" href="/">
                <img src="/imgs/logo.svg" alt="Logo" class="size-9">
                <div class="flex flex-col">
                    <p class="text-3xl font-bold">Pharos</p>
                    <p class="text-xs font-semibold">Account management</p>
                </div>
            </a>

            @{
                var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
            }
            @if (result.Success)
            {
                await Html.RenderPartialAsync("_LoginPartial");
            }
                
        </div>
    </div>
}

<button id="darkModeToggle" class="px-4 py-2 bg-primary text-white rounded absolute bottom-3 right-3 z-50">
    Toggle Theme
</button>

<partial name="_CookieConsentPartial" optional/>
<main class="overflow-x-hidden @( isManagePage ? "container mx-auto px-4 md:px-6 lg:px-8" : "w-[100vw]") ">
    @RenderBody()
</main>


<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            asp-fallback-src="~/Identity/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2">
        </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
<script>
    const toggleButton = document.getElementById('darkModeToggle');
    console.log("ASDASa")
    
    // Optional: load saved preference
    if (localStorage.getItem('theme') === 'dark') {
        document.documentElement.classList.add('dark');
    }

    toggleButton.addEventListener('click', () => {
        const html = document.documentElement;

        if (html.classList.contains('dark')) {
            html.classList.remove('dark');
            localStorage.setItem('theme', 'light');
        } else {
            html.classList.add('dark');
            localStorage.setItem('theme', 'dark');
        }
    });
</script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
