@using System.Security.Claims
@using Microsoft.Extensions.Localization
@using Pharos.Identity.Infra
@using Pharos.Identity.Infra.Data

@inject IStringLocalizer<SharedResource> Localizer
@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav ms-auto align-items-center flex-column flex-sm-row gap-2 gap-sm-3">
    
    <li class="nav-item me-2 ">
        <a href="/Identity/Account/Manage" class="nav-link text-dark fw-semibold" style="width: 200px;">
            @(User.FindFirstValue("FirstName") + " " + User.FindFirstValue("LastName"))
        </a>
    </li>
    
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form id="logoutForm" class="d-inline" asp-area="Identity" asp-page="/Account/Logout">
                <button id="logout" type="submit" class="btn btn-outline-secondary" style="width: 180px">
                    @Localizer["Logout"]
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-primary btn-sm" id="login" asp-area="Identity" asp-page="/Account/Login">
                @Localizer["Login"]
            </a>
        </li>
    }

    <li class="nav-item w-100 w-sm-auto">
        <select class="form-select form-select-sm" id="languageSelect"
                onchange="handleLanguageChange(event)"
                style="min-width: 110px; max-width: 140px;">
            <option value="default">Language</option>
            <option value="en">English</option>
            <option value="ru">Русский</option>
            <option value="kk">Қазақша</option>
        </select>
    </li>

</ul>

<script>
    function handleLanguageChange(e) {
        const lang = e.target.value;
        if (lang === "default") return;

        localStorage.setItem("culture", lang);
        document.cookie = `.AspNetCore.Culture=c=${lang}|uic=${lang}; path=/`;
        window.location.reload();
    }
</script>

<script>
    function handleLanguageChange(e) {
        const lang = e.target.value;
        if (lang === "default") return;

        localStorage.setItem("culture", lang);
        document.cookie = `.AspNetCore.Culture=c=${lang}|uic=${lang}; path=/`;
        window.location.reload();
    }
</script>